body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    background-color: white;
    position: relative;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 0 80px;
    height: 100px;


    margin-bottom: 3%;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav {
    display: flex;
    gap: 16px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
    color: #3b82f6;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid transparent;
}

.nav a.active {
    background-color: #3b5fbf;
    color: white;
}

.nav a:hover {
    color: #000;
}

.main-content {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;    
}

article {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    padding: 2rem;
    border-radius: 10px;
    box-shadow:
        inset 0 0 5px rgba(0, 0, 0, 0.2),
        0 15px 25px rgba(0, 0, 0, 0.3);
    margin: 0 3% 2% 3%;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;

    width: 50%;

    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    padding-bottom: 3%;

}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nickname-row {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    gap: 10px;
    
    margin-left: 28%;

}

.record-count {
    font-size: 1.2em;
    margin-top: 10px;
}

.edit-btn i {
    font-size: 20px;
    color: #424242;
    transition: color 0.3s ease;
}

.edit-btn:hover i {
    color: #000000;
}

.photo-gallery {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    padding: 10px;
    /* row-gap: 20px; /*세로 간격*/
    /* column-gap: 40px; 가로 간격 */
}

.photo-item {
    width: calc((100% - 80px) / 3);
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.photo-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 28px;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.delete-photo-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.photo-item:hover .delete-photo-btn {
    opacity: 1;
}

.photo-item p {
    margin-top: 5px;
    font-size: 1.4em;
    font-weight: bold;
    word-break: break-word;
}